<div class="h-full max-h-full flex flex-col justify-between">
  <div>
    <button (click)="createTransaction()" class="w-full" mat-button>
      <mat-icon>add</mat-icon>
      <span>Створити Транзакцію</span>
    </button>
    <hr />
  </div>
  <div class="grow overflow-y-auto h-[150px]">
    @for (transaction of transactions; track transaction) {
    <div class="border border-[#005CBB] rounded-xl h-fit my-[10px] p-[10px]">
      <app-transaction
        (deleteTransactionEvent)="deleteTransaction(transaction)"
        [transaction]="transaction"
      ></app-transaction>
    </div>
    }
  </div>
  <div>
    <hr />
    <mat-paginator
      (page)="pageHandler($event)"
      [length]="userTranactionQuantity"
      [pageSize]="packSize"
      [hidePageSize]="true"
      [showFirstLastButtons]="true"
    ></mat-paginator>
  </div>
</div>
