<div class="size-full">
  <div class="flex items-center justify-between">
    <span class="text-lg">{{ transaction?.title }}</span>
    <div>
      <button mat-icon-button (click)="openTransactionEditingDialog()">
        <mat-icon class="text-[#005CBB]">edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteTransaction()">
        <mat-icon class="text-[#005CBB]">delete</mat-icon>
      </button>
    </div>
  </div>
  <hr />
  @if (transaction?.transactionType==='expense') {
  <div class="flex items-center justify-between">
    <span class="text-red-500">
      -{{ transaction?.significance | currency }}
    </span>
    <span>
      {{ transaction?.category?.title }}
    </span>
  </div>
  } @else {
  <div>
    <span class="text-green-500">
      +{{ transaction?.significance | currency }}
    </span>
  </div>
  }
  <hr />
  <div class="flex flex-col">
    <div class="flex items-center justify-between">
      <span>Створена:</span>
      <span>{{
        transactionDateService.formatDate(
          transaction?.createdAt!.toLocaleString()
        )
      }}</span>
    </div>
    @if (transaction?.transactionType === 'expense') {
    <div class="flex items-center justify-between">
      <span>Застосувати:</span>
      <span>{{
        transactionDateService.formatDate(
          transaction?.expenseDate!.toLocaleString()
        )
      }}</span>
    </div>
    }
  </div>
</div>
