<div
  class="border border-[#005CBB] my-[10px] p-[10px] w-full overflow-hidden rounded-xl hover:bg-[#d8e4fc]/[.5] hover:cursor-pointer"
>
  <div class="flex items-center justify-between">
    <p class="!mb-0 w-full truncate text-ellipse max-w-full">
      {{ transaction?.title }}
    </p>
    <div class="flex items-center">
      <button (click)="deleteTransaction()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <hr />
  @if (transaction?.transactionType === 'income') {
  <span class="text-green-500"
    >+{{ transaction?.significance | currency }}</span
  >
  } @else {
  <div class="flex justify-between">
    <span class="text-red-500"
      >-{{ transaction?.significance | currency }}</span
    >
    <span>{{ transaction?.category?.title }}</span>
  </div>
  }
  <hr />
  <div class="flex items-center justify-between my-[5px]">
    <span>Створена:</span>
    <span>{{
      transactionDateService.formatDate(
        transaction?.createdAt!.toLocaleString()
      )
    }}</span>
  </div>
  @if (transaction?.transactionType === 'expense') {
  <div class="flex items-center justify-between">
    <span>Застосувати:</span>
    <span>{{
      transactionDateService.formatDate(
        transaction?.expenseDate!.toLocaleString()
      )
    }}</span>
  </div>
  }
</div>
