<mat-dialog-content class="space-y-[10px] h-fit">
  <div class="flex items-center justify-between">
    <span>Редагування користувацьких даних</span>
    <button mat-icon-button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div>
    <form [formGroup]="userCredentialsEditingForm!">
      @if(errorMessage){
      <mat-error class="text-center">{{ errorMessage }}</mat-error>
      }
      <mat-form-field class="w-full">
        <mat-label>Повне ім'я</mat-label>
        <input type="text" matInput formControlName="fullName" />
        @if(userCredentialsEditingForm?.get('fullName')?.touched &&
        userCredentialsEditingForm?.get('fullName')?.invalid) {
        <mat-error>Мінімальна довжина - 8 символів</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Електрона пошта</mat-label>
        <input type="email" matInput formControlName="email" />
        @if(userCredentialsEditingForm?.get('email')?.touched &&
        userCredentialsEditingForm?.get('email')?.invalid){
        <mat-error>Хибний формат електронної пошти</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Місячний бюджет</mat-label>
        <input type="number" matInput formControlName="monthlyBudget" min="0" />
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>День оновлення бюджету</mat-label>
        <input
          type="number"
          matInput
          formControlName="budgetUpdateDay"
          min="1"
          max="31"
        />
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="closeDialog()">Скасувати</button>
  <button mat-raised-button (click)="updateUserCredentials()">
    Підтвердити
  </button>
</mat-dialog-actions>
