<div class="size-full flex items-center justify-center">
  <div class="border border-[#ba005c] h-fit w-1/3 rounded-lg">
    <form [formGroup]="registerForm!" class="m-[15px]">
      @if (!!errorMessage) {
      <mat-error class="text-center">{{ errorMessage }}</mat-error>
      }
      <mat-form-field class="w-full">
        <mat-label>Повне ім'я</mat-label>
        <input matInput formControlName="fullName" type="text" />
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Електрона пошта</mat-label>
        <input matInput formControlName="email" type="email" />
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Пароль</mat-label>
        <input matInput formControlName="password" type="password" />
        @if (registerForm?.get('password')?.touched &&
        registerForm?.get('password')?.invalid) {
        <mat-error>Мінімальна довжина паролю - 12 символів</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Підтвердження паролю</mat-label>
        <input matInput formControlName="passwordConfirm" type="password" />
        @if (registerForm?.hasError('mismatch') &&
        registerForm?.get('passwordConfirm')?.touched) {
        <mat-error>Паролі не співпадають</mat-error>
        }
      </mat-form-field>
      <button
        class="w-full"
        mat-raised-button
        [disabled]="registerForm?.invalid"
        (click)="register()"
      >
        Зареєструватись
      </button>
    </form>
  </div>
</div>
