<div class="h-fit space-y-[5px]">
  <div class="flex items-center justify-between">
    <span class="text-xl">{{ transaction?.title }}</span>
    <div>
      <button mat-icon-button>
        <mat-icon class="text-[#ba005c]">edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteTransaction()">
        <mat-icon class="text-[#ba005c]">delete</mat-icon>
      </button>
    </div>
  </div>
  <hr />
  <div class="flex items-center justify-between">
    @if(transaction?.category) {
    <span>{{ transaction?.category?.title }}</span>
    } @else {
    <span>Категорія відсутня</span>
    } @if(transaction?.transactionType === 'income') {
    <span class="text-green-500"
      >+{{ transaction?.significance | currency }}</span
    >
    } @else {
    <span class="text-red-500"
      >-{{ transaction?.significance | currency }}</span
    >
    }
  </div>
  <hr />
  <div class="space-y-[5px]">
    <div class="flex items-center justify-between">
      <span>Створена:</span>
      <span>{{ getFormattedDate(transaction?.createdAt!) }}</span>
    </div>
    @if(transaction?.transactionType === 'expense') {
    <div class="flex items-center justify-between">
      <span>Застосувати:</span>
      <span>{{ getFormattedDate(transaction?.expenseDate!) }}</span>
    </div>
    } @else {
    <span>Дата застосування відсутня</span>
    }
  </div>
</div>
